.gossip {
  width: auto;
  font-size:40px;
  line-height: 50px;
  font-family: "PT Sans", Helvetica, Arial, sans-serif;
  color: #ecf0f1;
  height: 540px;
  position: relative;
  top: 50%;
  left: 50%;
  margin-top: 200px;
  margin-left: 30px;
}
.gossip:before {
  content: '{';
  position: auto;
  /*left: -30px;*/
  line-height: 50px;
}
.gossip:after {
  content: '}';
  position: auto;
  /*right: -30px;*/
  line-height: 50px;
}
.gossip:after,
.gossip:before {
  color: #16a085;
  font-size: 42px;
  animation: 4s linear 0s normal none infinite opacity;
  -webkit-animation: 4s ease-out 1s normal none infinite opacity;
  -moz-animation: 4s ease-out 1s normal none infinite opacity;
  -o-animation: 4s ease-out 1s normal none infinite opacity;
}
.visible {
  float: left;
  font-weight: 600;
  overflow: hidden;
  height: 40px;
}

.gossip ul {
  margin-top: 0;
  padding-left: 110px;
  text-align: left;
  list-style: none;
  animation: 6s linear 1s normal none infinite change;
  -webkit-animation: 6s linear 1s normal none infinite change;
  -moz-animation: 6s linear 1s normal none infinite change;
  -o-animation: 6s linear 1s normal none infinite change;
}
.gossip ul, .gossip li {
  line-height: 40px;
  margin: 0;
}
@-webkit-keyframes opacity {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes opacity {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes change {
  0% {
    margin-top: 0;
  }
  15% {
    margin-top: 0;
  }
  25% {
    margin-top: -40px;
  }
  40% {
    margin-top: -40px;
  }
  50% {
    margin-top: -80px;
  }
  65% {
    margin-top: -80px;
  }
  75% {
    margin-top: -40px;
  }
  85% {
    margin-top: -40px;
  }
  100% {
    margin-top: 0;
  }
}
@keyframes change {
  0% {
    margin-top: 0;
  }
  15% {
    margin-top: 0;
  }
  25% {
    margin-top: -40px;
  }
  40% {
    margin-top: -40px;
  }
  50% {
    margin-top: -80px;
  }
  65% {
    margin-top: -80px;
  }
  75% {
    margin-top: -40px;
  }
  85% {
    margin-top: -40px;
  }
  100% {
    margin-top: 0;
  }
}